body { padding-top: 70px; }
.nopad{
	padding-top:0px;

}
p{
    font-size: 18px;
    font-style: italic;
    font-family: Century Gothic, sans-serif;
}

.fl_left{float:left;}
.fl_right{float:right;}

.row3, .row3 a{
color:#919191; 
background-color:#232323;
}

div.wrapper {
display:block; 
width:100%; 
margin:0; 
padding:0; 
text-align:left;
}



.clear:after{
content:"."; 
display:block; 
height:0; 
clear:both; 
visibility:hidden; 
line-height:0;
}
#copyright{padding:20px 0;}
#copyright p{margin:0; padding: 0;}


.add{margin: 15px;}
.add a{display: inline-block; transition: all 0.5s;}
.add a:hover {transform: rotate(360deg);}

.clearfix{
	clear:both;
}

#container{
	width:340px;
	height:650px; /* min height -400*/
	background:#333;
	overflow:auto;
	margin:60px auto;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:#666 solid 6px;
}

#audio-image{
	position:relative;
	overflow:hidden;
	height:200px;
	margin-bottom:15px;
}

#audio-info{
	text-align:center;
}

#audio-info .artist{
	font-weight:bold;
}

.cover{
	width:100%;
	z-index:1;
}

input#volume {
	width:95%;
	margin-left:2%;
    -webkit-appearance: none !important;
    background:#ccc;
    height:1px;
	margin-bottom:20px;
}
input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:url(../images/knob.png) no-repeat;
    height:12px;
    width:12px;
}

#buttons{
	width:90%;
	display: block;
    margin: 15px auto;
	margin-left:23px;
	overflow:auto;
}


button#play{
	width:70px;
	height:70px;
	background:url(../images/play.png) no-repeat;
	float:left;
}

button#pause{
	width:70px;
	height:70px;
	background:url(../images/pause.png) no-repeat;float:left;
}

button#stop{
	width:70px;
	height:70px;
	background:url(../images/stop.png) no-repeat;float:left;
}

button#prev{
	width:70px;
	height:70px;
	background:url(../images/prev.png) no-repeat;
	float:left;
	margin-top:15px;
}

button#next{
	width:70px;
	height:70px;
	background:url(../images/next.png) no-repeat;
	float:right;
	margin-top:15px;
}

#playlist {
	height: 200px;
    list-style-type: none;
	padding:10px;
	overflow-y:scroll;
	
}

#playlist li {
    cursor: pointer;
    margin:5px;
}

#tracker{
	position:relative;
	width:100%;
}

#playlist li.active {
    font-weight: bold;
	padding:3px;
	background:#666;
}

#progressBar { 
   width:80%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../images/progress_bg.png) no-repeat;
   float:left;
}

#progress {
   background:url(../images/progress.png) no-repeat;
   height:10px;
   display:inline-block;
}

#duration{
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	border-radius:5px;
}
#surround{
	width:100%;
	height:8%;
	background-color:#262626;
	
}
.menu{

	color:#404040;
	font-size: 14px;
	padding-left: 28px;
	margin-top:18px;
	display: inline-block;
	
}

.navright{
	text-align: right;
	margin-right: 100px;
}

